.active-cyan-4 input[type=text]:focus:not([readonly]) {
  border: 1px solid #4dd0e1;
  box-shadow: 0 0 0 1px #4dd0e1;
}
.active-cyan-3 input[type=text] {
  border: 1px solid #4dd0e1;
  box-shadow: 0 0 0 1px #4dd0e1;
}

.listRow {
  cursor: pointer;
  transition: all .2s ease-in;
}
.listRow:hover {
  background-color: #f2fdff;
}
.listRow:active {
  box-shadow: 0 0 0 1px #4dd0e1;
  background-color: #e0fbff;
}
